@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
   *{ margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
    font-family: 'Roboto', sans-serif;

}
nav{
    width: 100%;
    height: 50px;
    background-color: #505d61;
    line-height: 50px;
    padding: 0px 50px;
    position: fixed;
    z-index: 1;
}
section{
    padding: 2rem 7%;


}
nav .logo{
    font-size: 30px;
    font-size: bold;
    letter-spacing: 1.5px;
}
nav .logo p{
    float: left;
    color: #fff;
    text-transform: uppercase;
}
nav ul{
    float: right;
}
nav ul li {
    display: inline-block;
    list-style: none;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 32px;
}
nav ul li a:hover{
    color: #c0d96f;

}
nav ul li .active {
    color: #c0d96f;
}

.image img{
    width: 100%;
    height: 0pc auto;
    opacity: 0.80;
}

/*.image {
     background-image: url(/yaka.jpeg.jpeg); 
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
} */

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(yaka.jpeg) no-repeat;
    background-size: cover;
    background-position: center;

}

section{
    padding: 2rem ;
}
content{
    max-width: 60rem;
}
 .he{
    font-size:6rem;
    text-transform: uppercase;
    color: black;
}
 .pp{
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: black;
}
h2{
    font-size:3rem;
}




.btn{
    position: relative;
    text-align: center;
    width: 100px;
    padding: 10px;
    font-size: 15px;
    color: rgb(250, 250, 250);
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 50;
    border: 2px solid rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 6px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
    background-color: rgb(223, 104, 35);
    text-decoration: none;
     

}
/*.btn:hover{
    box-shadow: 0 5px 50px 0 rgb(223, 104, 35),0 5px 50px 0 rgb(223, 104, 35),
                0 5px 50px 0 rgb(223, 104, 35) inset,0 5px 50px 0 rgb(223, 104, 35);
    text-shadow: 0 0 5px rgb(223, 104, 35),
                 0 0 5px rgb(223, 104, 35);           

}*/

/*.selection.box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30rem,1ft));
  gap: 1.5rem;
  }
.selection.box-container.box{
      padding: 5rem;
      text-align: center;
      border:var(--border);
  }
  .selection.box-container.box img {
      height: 10rem;
  }
.heading{
    text-align: center;
}
.im2{
    
}
.ie{
    width: 200px;
    height: 200px;
}*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
  }
  
 /* .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }*/
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /*.title {
    color: grey;
  }*/
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .footer{
    background:var(--black);
    text-align: center;
    background-color: #383838;
  
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:white;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
    gap:2rem;
    
}

.footer .links a{
    padding:.7rem 2rem;
    color:white;
    border:var(--border);
    font-size: 1.5rem;
    text-decoration: none;
}

.footer .links a:hover{
    background:var(--main-color);
}

/*.footer .credit{
    font-size: 2rem;
    color:rgb(8, 8, 8);
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}*/
.footer .links1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:3rem 0;
  gap:2rem;
}

.footer .links1 a{
  padding:.7rem 2rem;
  color:white;
  border:var(--border);
  font-size: 1.5rem;
  text-decoration: none;
}

.footer .links1 a:hover{
  background:var(--main-color);
}




  






